In [1]:
import pandas as pd

from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype

In [2]:
df = pd.read_csv("dataset.csv")
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
for col in df.columns:
    if(not is_numeric_dtype(df[col])):
        df[col]=df[col].replace(set(df[col]),list(range(len(set(df[col])))))
        print(col)
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [6]:
df.iloc[:, :7].describe().applymap(lambda x: f"{x:0.2f}").to_latex()

C:\Users\RenatoCiz\AppData\Local\Temp\ipykernel_25196\3636333628.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  df.iloc[:, :7].describe().applymap(lambda x: f"{x:0.2f}").to_latex()

'\\begin{tabular}{llllllll}\n\\toprule\n{} &     age &     sex &      cp & trestbps &    chol &     fbs & restecg \\\\\n\\midrule\ncount &  303.00 &  303.00 &  303.00 &   303.00 &  303.00 &  303.00 &  303.00 \\\\\nmean  &   54.37 &    0.68 &    0.97 &   131.62 &  246.26 &    0.15 &    0.53 \\\\\nstd   &    9.08 &    0.47 &    1.03 &    17.54 &   51.83 &    0.36 &    0.53 \\\\\nmin   &   29.00 &    0.00 &    0.00 &    94.00 &  126.00 &    0.00 &    0.00 \\\\\n25\\%   &   47.50 &    0.00 &    0.00 &   120.00 &  211.00 &    0.00 &    0.00 \\\\\n50\\%   &   55.00 &    1.00 &    1.00 &   130.00 &  240.00 &    0.00 &    1.00 \\\\\n75\\%   &   61.00 &    1.00 &    2.00 &   140.00 &  274.50 &    0.00 &    1.00 \\\\\nmax   &   77.00 &    1.00 &    3.00 &   200.00 &  564.00 &    1.00 &    2.00 \\\\\n\\bottomrule\n\\end{tabular}\n'

In [7]:
df.iloc[:, 7:14].describe().applymap(lambda x: f"{x:0.2f}").to_latex()

C:\Users\RenatoCiz\AppData\Local\Temp\ipykernel_25196\1287295808.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  df.iloc[:, 7:14].describe().applymap(lambda x: f"{x:0.2f}").to_latex()

'\\begin{tabular}{llllllll}\n\\toprule\n{} & thalach &   exang & oldpeak &   slope &      ca &    thal &  target \\\\\n\\midrule\ncount &  303.00 &  303.00 &  303.00 &  303.00 &  303.00 &  303.00 &  303.00 \\\\\nmean  &  149.65 &    0.33 &    1.04 &    1.40 &    0.73 &    2.31 &    0.54 \\\\\nstd   &   22.91 &    0.47 &    1.16 &    0.62 &    1.02 &    0.61 &    0.50 \\\\\nmin   &   71.00 &    0.00 &    0.00 &    0.00 &    0.00 &    0.00 &    0.00 \\\\\n25\\%   &  133.50 &    0.00 &    0.00 &    1.00 &    0.00 &    2.00 &    0.00 \\\\\n50\\%   &  153.00 &    0.00 &    0.80 &    1.00 &    0.00 &    2.00 &    1.00 \\\\\n75\\%   &  166.00 &    1.00 &    1.60 &    2.00 &    1.00 &    3.00 &    1.00 \\\\\nmax   &  202.00 &    1.00 &    6.20 &    2.00 &    4.00 &    3.00 &    1.00 \\\\\n\\bottomrule\n\\end{tabular}\n'