In [33]:
import pandas as pd

from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype

In [4]:
df = pd.read_csv("dataset.csv")
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [31]:
df["Sex"].unique()
for col in df.columns:
    if(not is_numeric_dtype(df[col])):
        df[col]=df[col].replace(set(df[col]),list(range(len(set(df[col])))))
        print(col)
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,2,140,289,0,2,172,1,0.0,2,0
1,49,0,3,160,180,0,2,156,1,1.0,0,1
2,37,1,2,130,283,0,1,98,1,0.0,2,0
3,48,0,0,138,214,0,2,108,0,1.5,0,1
4,54,1,3,150,195,0,2,122,1,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,1,110,264,0,2,132,1,1.2,0,1
914,68,1,0,144,193,1,2,141,1,3.4,0,1
915,57,1,0,130,131,0,2,115,0,1.2,0,1
916,57,0,2,130,236,0,0,174,1,0.0,0,1
917,38,1,3,138,175,0,2,173,1,0.0,2,0

In [30]:
df.iloc[:, :6].describe().applymap(lambda x: f"{x:0.2f}").to_latex()

C:\Users\RenatoCiz\AppData\Local\Temp\ipykernel_33544\3291776277.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  df.iloc[:, :6].describe().applymap(lambda x: f"{x:0.2f}").to_latex()

'\\begin{tabular}{lllllll}\n\\toprule\n{} &     Age &     Sex & ChestPainType & RestingBP & Cholesterol & FastingBS \\\\\n\\midrule\ncount &  918.00 &  918.00 &        918.00 &    918.00 &      918.00 &    918.00 \\\\\nmean  &   53.51 &    0.79 &          1.09 &    132.40 &      198.80 &      0.23 \\\\\nstd   &    9.43 &    0.41 &          1.27 &     18.51 &      109.38 &      0.42 \\\\\nmin   &   28.00 &    0.00 &          0.00 &      0.00 &        0.00 &      0.00 \\\\\n25\\%   &   47.00 &    1.00 &          0.00 &    120.00 &      173.25 &      0.00 \\\\\n50\\%   &   54.00 &    1.00 &          0.00 &    130.00 &      223.00 &      0.00 \\\\\n75\\%   &   60.00 &    1.00 &          2.00 &    140.00 &      267.00 &      0.00 \\\\\nmax   &   77.00 &    1.00 &          3.00 &    200.00 &      603.00 &      1.00 \\\\\n\\bottomrule\n\\end{tabular}\n'

In [32]:
df.iloc[:, 6:12].describe().applymap(lambda x: f"{x:0.2f}").to_latex()

C:\Users\RenatoCiz\AppData\Local\Temp\ipykernel_33544\2745157407.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  df.iloc[:, 6:12].describe().applymap(lambda x: f"{x:0.2f}").to_latex()

'\\begin{tabular}{lllllll}\n\\toprule\n{} & RestingECG &   MaxHR & ExerciseAngina & Oldpeak & ST\\_Slope & HeartDisease \\\\\n\\midrule\ncount &     918.00 &  918.00 &         918.00 &  918.00 &   918.00 &       918.00 \\\\\nmean  &       1.40 &  136.81 &           0.60 &    0.89 &     0.93 &         0.55 \\\\\nstd   &       0.81 &   25.46 &           0.49 &    1.07 &     0.96 &         0.50 \\\\\nmin   &       0.00 &   60.00 &           0.00 &   -2.60 &     0.00 &         0.00 \\\\\n25\\%   &       1.00 &  120.00 &           0.00 &    0.00 &     0.00 &         0.00 \\\\\n50\\%   &       2.00 &  138.00 &           1.00 &    0.60 &     0.00 &         1.00 \\\\\n75\\%   &       2.00 &  156.00 &           1.00 &    1.50 &     2.00 &         1.00 \\\\\nmax   &       2.00 &  202.00 &           1.00 &    6.20 &     2.00 &         1.00 \\\\\n\\bottomrule\n\\end{tabular}\n'